.logo{
    width: 80px;
    margin-left: 525px;
}

html{
  scroll-behavior: smooth;
}

.ig-icon{
    height: 25px;
    padding-left: 550px;
    padding-top: 20px;
}

.fb-icon{
    height: 25px;
    padding-left: 15px;
    padding-top: 20px;
    filter: invert(1);
}

.nav{
    text-align: center;
    padding-top: 20px;
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 20px;
    z-index: 10000;
}


.nav a{
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: auto;
    color: black;
    text-decoration: none;

}

.nav a:hover{
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 2px ;
    text-decoration-color: black;
    text-underline-offset: 7px;
}


.book-button{
    color: white;
    background-color: rgb(225, 215, 199);
    border-radius: 10px;
    padding: 20px;
    margin-left: 30px;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

header{
    display: flex;
}

.header{
    position: sticky;
    top: 0;
}

.header-background{
    width: auto;
    height: 600px;
    background-image: url(images/background.jpeg);
    background-size: cover;
    margin-top: 30px;
   
}

.arch-frame1, .arch-frame2, .arch-frame3{
    width: 275px;
  height: 500px;
  border-radius: 150px 150px 0 0; 
  overflow: hidden;
  padding-top: 40px;
  


  
}

.arch-frame1 video, .arch-frame2 video, .arch-frame3 video{
    width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 80% center;
  border-radius: 150px 150px 0 0;
}

.hero-arch{
    display: flex;
    justify-content: space-evenly;
}

.book-button2{
    color: white;
    background-color: rgb(225, 215, 199);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    font-size: 30px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

h1{
    color: rgb(180, 173, 159);
}

.about-text{
    width: 600px;
    padding-left:100px;
    padding-top: 100px;
    padding-right: 100px;
}

p{
    font-size: 18px;
}

h2{
    padding-top: 200px;
    text-align: center;
    font-weight: lighter;
    color: rgb(180, 173, 159);
}

.menu-text{
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}

.menu-desc{
    width: 600px;
    display: block;
    margin: auto;
}


.rectangle-1{
    width: 300px;
    height: 500px;
    background-color: rgb(225, 215, 199);
    margin: auto;
    margin-right: 80px;
    position: absolute;
    top: 30px;
    left: 200px;
    transform: rotate(90deg);
} 

.rectangle-2{
    height: 600px;
    width: 275px;
    background-color: rgb(225, 215, 199);
    position: absolute;
    left: -50px;
    top: -40px;
    

}

#section-1{
    display: flex;
    padding-top: 80px;
}

.about-images{
    position: relative;
    width: 550px;
    height: auto;
    top: 50px;
}

.layer3{
    position: absolute;
    height: 325px;
    width: auto;
    z-index: 1;
    top: 250px;
    left: 350px;
}

.layer4{
    position: absolute;
    z-index: 5;
    left: 150px;
    top: 150px;
    width: auto;
    height: 300px;
}

.layer5{
    position: absolute;
    width: auto;
    height: 300px;
    left: -20px;
}


sl-details{
    width: 500px;
    display: block;
    margin: auto;
    color: rgb(180, 173, 159);;
    font-weight: lighter;
    text-align: center;
    border: solid 0.5px rgb(180, 173, 159);
    font-family: 'Times New Roman', Times, serif;
}



h3,h4, h5, h6, .treatments{
    font-family: "zapfino-extra-lt-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    color: rgb(180, 173, 159);
    text-align: center;
    margin-bottom: 5px;
    height: 200px;
    margin-top: 3px;
}

h5{
    margin-top: 20px;
    margin-bottom: 35px;
}


.team-section{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 100px;
    padding-top: 100px;
    font-weight: bold;
    color: rgb(180, 173, 159);
}

  
  sl-button.final-button::part(base){
    --sl-input-height-medium: 50px;
    --sl-input-border-width: 2px;

    border-radius: 10px;
    border: none;
    background-color: rgb(180, 173, 159);
    color: white;
    font-size: 16px;
    display: block;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
  }

  .button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  .profiles{
    width: auto;
    height: 200px;
    display: block;
    margin: auto;
    text-align: center;
    
  }

  .teamprofile-1, .teamprofile-2, .teamprofile-3, .teamprofile-4{
    width: 300px;
    height: 700px;
    background-color: rgb(225, 215, 199); 
    margin-bottom: 30px;
  }

  .team-container{
    display: flex;
    gap: 20px;
    justify-content: center;

  }

  .name{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    line-height: 0.5;
  }

  .profiles  {
    padding-top: 20px;
    width: 200px;
    height: 300px;
    border-radius: 400px 400px 0 0;
    object-fit: cover;
    padding-bottom: 20px;
  }

  .team-4{
    width: 10px;
  }

  .role{
    font-size: 14px;
    color: white;
    text-align: center;
    font-weight: bold;
  }

  .bio{
    text-align: center;
    font-size: 12px;
    color: white;
    padding: 20px;

  }

  .icon-wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
  }

  .book-button3{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(225, 215, 199);
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 100px;
    text-align: center;
    border-color: white;
    display: block;
    margin: auto;
    margin-top: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  .prof-icon a{
    color: white;
  }

  sl-icon{
    color: white;
  }


.glider-contain {
    width: 80%;
    margin: 10px auto;
    position: relative;
  }

  .glider{
   display: flex;
    overflow: hidden;
    scroll-behavior: smooth;

  }

  .glider div {
    flex: 0 0 auto;
    width: 200px;
    height: 500px;
    margin: 0 10px;
    overflow: hidden;
    
  }
  
  .glider div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
  }
  
  .glider-prev, .glider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 10;
  }

  .glider-prev{ left: -60px;}
.glider-next{right: -60px;}  

#dots{
    text-align: center;
    margin-top: 15px;
}

.work{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 40px;
    text-align: center;
}

.gallery-title{
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(225, 215, 199); 
}

.final-section{
    height: 200px;
    background: rgb(225, 215, 199);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 100px;
}

.svg{
    color: rgb(55, 67, 56);
}

.container-a{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 190px;
    align-items: center;
    margin-left: 200px;
    padding-top: 30px;
}

.footer{
  display: flex;
  align-items: flex-start;
}

#darkmode {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}
    

.footer-icon {
    color: green;
    justify-content: left;
}

.box{
  background-color: white;
  width: 400px;
  height: 125px;
  border-radius: 10px;
  text-align: center;
  color: rgb(133, 128, 122);
  margin-top: 40px;
}

.buttons{
  display:flex;
  justify-content: flex-end;
  margin-right: 20px;
  gap: 10px;
  font-size: 30px;
}
